{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier",
    "./packages/eslint-plugin-the-read-time"
  ],
  "rules": {
    "prettier/prettier": [
      "error"
    ],
    "the-read-time/steps": [
      "error"
    ]
  }
}